.preference-info-container {
    background-color: darkblue;
    padding: 20px;
    margin: 0 auto;
    width: 60%;
}

.preferences-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.preference-box {
    display: flex;
    background-color: darkred;
    width: 524px;
    height: 352px;
    text-align: center;
}

.add-game {
    text-align: right;
    margin-bottom: 20px;
}